html, body {
  font-size: 16px;
  font-family: Manrope, sans-serif;
  font-style: normal;
  color: #424551;
  line-height: 160%;
}
.wrapper  {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  transition: 1s;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;
}
/* ------- header, test js --------- */
.header__test-js {
background-color: #464d4b;
overflow: auto;
}
.test-js__heading {
  font-size: 64px;
  color: midnightblue;
  margin-top: 50px;
  margin-left: 400px;
}
.test-js__button {
box-sizing: border-box;
width: 300px;
height: 300px;
background: #FCE4E4;
border: 5px solid #DC1C1C;
box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.35), inset -10px -10px 10px rgba(0, 0, 0, 0.35);
border-radius: 50%;
font-weight: 400;
font-size: 96px;
line-height: 131px;
color: #1f1d1d;
text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.35);
transition: all 1s;
margin-top: 52px;
margin-left: 450px;
margin-bottom: 152px;
}
.test-js__button:hover {
  transform: scale(1.1);
background: #FCE4E4;
border: 6px solid #d11010;
box-shadow: inset 15px 15px 15px rgba(0, 0, 0, 0.35), inset -15px -15px 15px rgba(0, 0, 0, 0.35);
border-radius: 50%;
font-weight: 400;
font-size: 96px;
line-height: 131px;
color: #000000;
text-shadow: 15px 15px 15px rgba(0, 0, 0, 0.35);
}
.test-js__button:active {
  transform: scale(0.9);
  background: #df9292;
  border: 6px solid #d11010;
  transition: 0.1s;
}
.undertale__window {
  background-color: #000000;
  display: inline-flex;
  margin-top: 25px;
  /* margin-left: 335px; */
  margin-left: 25%;
  border-radius: 14px;
  padding: 5px;
  border: 5px solid white;
  transition: all 1s;
}
.undertale__avatar {
}
.undertale__text {
  font-size: 25px;
  word-wrap: break-word;
  width: 350px;
  color: #fff;
}
.undertale__text span {
  color: #d11010;
}
.undertale__text span.span_yellow {
  color: yellow;
}
@media (max-width: 900px) {
  .test-js__heading {
    font-size: 45px;
    color: rgb(124, 10, 218);
    margin-top: 20px;
    margin-left: 150px;
  }
  .test-js__button {
    margin-top: 100px;
    margin-left: 270px;
    margin-bottom: 193px;
  }
  .undertale__window {
    transition: all 1s;
    transform: scale(0.9);
  }
  }
@media (max-width: 800px) {
  .test-js__heading {
    font-size: 32px;
    color: rgb(155, 19, 76);
    margin-top: 20px;
    margin-left: 150px;
  }
  .test-js__button {
    margin-top: 20px;
    margin-left: 210px;
    margin-bottom: 193px;
  }
  .undertale__window {
    transition: all 1s;
    margin-left: 70px;
    transform: scale(0.8);
  }
  }
  @media (max-width: 700px) {
    .test-js__heading {
      font-size: 32px;
      color: rgb(212, 221, 221);
      margin-top: 20px;
      margin-left: 130px;
    }
    .test-js__button {
      margin-top: 20px;
      margin-left: 160px;
      margin-bottom: 190px;
    }
    .undertale__window {
      margin-left: 30px;
      transition: all 1s;
      transform: scale(0.8);
    }
    }
@media (max-width: 600px) {
  .test-js__heading {
    font-size: 32px;
    color: rgb(68, 240, 91);
    margin-top: 10px;
    margin-left: 50px;
  }
  .test-js__button {
    margin-top: 30px;
    margin-left: 105px;
    margin-bottom: 101px;
  }
  .undertale__window {
    margin-left: -10px;
    transition: all 1s;
    transform: scale(0.8);
  }
  }
  @media (max-width: 170px) {
    .test-js__heading {
      font-size: 18px;
      color: rgb(2, 2, 7);
      margin-top: 10px;
      margin-left: 10px;
    }
    .test-js__button {
      margin-top: 1px;
      margin-left: -87px;
      margin-bottom: 330px;
      transform: scale(0.5);
    }
    .undertale__window {
      transition: all 1s;
      transform: scale(0.4);
      margin-left: -200px;
    }
    }